name: Terraform CI

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    uses: quiquecmtt/reusable-workflows/.github/workflows/terraform-ci.yml@main
    with:
      allowed_pr_author: "quiquecmtt"
