name: Renovate

on:
  schedule:
    # Runs at 12:05 PM UTC, every Wednesday
    - cron: "5 12 * * 3"
  workflow_dispatch: {}

# Required permissions for GITHUB_TOKEN to create branches/PRs
permissions:
  contents: write
  pull-requests: write

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v39.0.5
        with:
          repository: ${{ github.repository }}
          token: ${{ secrets.GITHUB_TOKEN }}
          config-file: ".github/renovate.json"
